<nav class="header shadow">
    <img  class="photo" src="https://seeklogo.com/images/R/romania-tourism-logo-53BCC1F547-seeklogo.com.png" alt="">
    <div class="description">
        <h1 class="center">Romania Mea!</h1>
    <p>România este unică în lume prin frumusețea și locurile pe care le oferă.</p>
    <p class="center">Şi foarte puţine sunt cunoscute chiar şi de români.</p>
    <p class="center">Însă cu siguranţă merită vizitate şi descoperite..</p>
     <a class="button" href="https://www.capital.ro/10-locuri-si-lucruri-din-romania-unice-in-lume-merita-vizitate-galerie-foto.html">Mai multe informatii!</a>
    </div>
    
   
</nav>